
.excel-input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 4px 12px;
  border: $input-border;
  background: #fff !important;
  color: #222 !important;
  border: none;
}

.excel-input-border-less {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 2px;
  background: #fff !important;
  color: #222 !important;
}

.excel-input-border-less:focus {
  outline: none;
}

.dark .excel-input,
.dark .excel-input-border-less {
  background: #2d2d2d !important;
  color: #e0e0e0 !important;
}
